

body {
    background-color: #7b7b7b;
  	font: 11px/1.5 Arial,Verdana,sans-serif;
    margin: 9;
    padding: 0;
}

img {
	width: 130px;
}


h1 {
    height: 2px;
    margin: 20px 0 0;
    font-size: 30px;
    font-family: sans-serif;
    color: gray;

}

div {margin: 0
	font: 11 px
	padding: 9;
}